@import url(https://fonts.googleapis.com/css?family=Lato);
body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Layout */
.main-title {
  padding-bottom: 40px;
  text-align: center;
  font-size: 2.5em;
}

.timer-settings-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.timer-main-container {
  text-align: center;
  padding-bottom: 10px;
  font-size: 3em;
}

.timer-description {
  text-align: center;
  padding-bottom: 40px;
}

.pomodoro-title,
.break-title,
.pomodoro-container,
.break-container {
  width: 50%;
}

.pomodoro-title,
.break-title {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}

.pomodoro-container,
.break-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  font-size: 1.5em;
  justify-content: center;
}

.break-timer,
.pomodoro-timer {
  padding: 0 20px;
}

.controls-container {
  text-align: center;
}
.controls-container button {
  margin: 0 10px;
  font-size: 1.125em;
}
.controls-container button:first-child {
  margin-left: 0;
}
.controls-container button:last-child {
  margin-right: 0;
}

button {
  background-color: #ced5db;
  border: none;
  padding: 20px;
  font-size: 1em;
}
button:hover {
  background-color: #eceef0;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

button:disabled:hover {
  background-color: #ccc;
  cursor: not-allowed;
}

.button-start {
  background-color: mediumseagreen;
}
.button-start:hover {
  background-color: #80d5a6;
}

.button-pause {
  background-color: #e05a5a;
}
.button-pause:hover {
  background-color: #f0b0b0;
}

.button-reset {
  background-color: cornflowerblue;
}
.button-reset:hover {
  background-color: #bfd3f8;
}

.controls-container .fa {
  padding-left: 5px;
}
